In [73]:
#### Trending videos on Youtube.
#### Cyn H, Caro M.

# Data Cleanup

## 1 . Cleaning Data

In [74]:
# Dependencies
import pandas as pd
import json 
import sys
import os

In [75]:
# Read original dataset. Date range varies from Nov 2017 up to June 2018 over USA.
us_csv = "Resources/large_USvideos.csv"
original_df = pd.read_csv(us_csv)
original_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [76]:
# Identify incomplete rows
original_df.count()

video_id                  40949
trending_date             40949
title                     40949
channel_title             40949
category_id               40949
publish_time              40949
tags                      40949
views                     40949
likes                     40949
dislikes                  40949
comment_count             40949
thumbnail_link            40949
comments_disabled         40949
ratings_disabled          40949
video_error_or_removed    40949
description               40379
dtype: int64

In [78]:
# Investigate Missing Rows:
original_df[original_df["video_id"].isna()].head(10)

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description]
Index: []

In [79]:
# Deleting columns with no relevant info for this specific project
del original_df['ratings_disabled']
del original_df['comments_disabled']
del original_df['video_error_or_removed']
del original_df['thumbnail_link']
del original_df['description']

# Rename column name 
df= original_df.rename(columns={"video_id": "id",
                    "trending_date": "Trending Date",
                    "title": "Title",
                    "channel_title": "Channel",
                    "category_id": "Category",
                    "publish_time": "Publish Date",
                    "tags": "Tags",
                    "views": "Views",
                    "likes": "Likes",
                    "dislikes": "Dislikes",
                    "comment_count": "Comments"})

df.head()

,id,Trending Date,Title,Channel,Category,Publish Date,Tags,Views,Likes,Dislikes,Comments
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518

In [80]:
# Check new counts
df.count()

id               40949
Trending Date    40949
Title            40949
Channel          40949
Category         40949
Publish Date     40949
Tags             40949
Views            40949
Likes            40949
Dislikes         40949
Comments         40949
dtype: int64

In [81]:
# Check data Type
df.dtypes

id               object
Trending Date    object
Title            object
Channel          object
Category          int64
Publish Date     object
Tags             object
Views             int64
Likes             int64
Dislikes          int64
Comments          int64
dtype: object

In [64]:
# Convert column Title to propper case  
df["Title"] = df.Title.str.capitalize()
df.head()

,id,Trending Date,Title,Channel,Category,Publish Date,Tags,Views,Likes,Dislikes,Comments
0,2kyS6SvSYSE,17.14.11,We want to talk about our marriage,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954
1,1ZAPwfrtAFY,17.14.11,The trump presidency: last week tonight with j...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703
2,5qpjK5DgCt4,17.14.11,"Racist superman | rudy mancuso, king bach & le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181
3,puqaWrEC7tY,17.14.11,Nickelback lyrics: real or fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146
4,d380meD0W0M,17.14.11,I dare you: going bald!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518

In [65]:
# Creating a DataFrame of top videos with more days as "trending" (video_count) to get the categories and add the names:

video_frequence_df = df.groupby(['id', 'Category'])['id'].agg(
                {"video_frequence": len
                }).sort_values("video_frequence", ascending=False).reset_index()

C:\Users\cmuiz\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

In [66]:
# Category frequence on trending videos:
category_frequence = video_frequence_df.groupby("Category").id.nunique()
category_frequence.sort_values(ascending=False)
category_frequence_df = pd.DataFrame(category_frequence) 
category_frequence_df= category_frequence_df.rename(columns={'id': "category_frequence"})
category_frequence_df.sort_values('category_frequence',ascending=False).head(100)

          category_frequence
Category
24                      1622
10                       801
26                       595
23                       547
25                       507
22                       498
17                       452
28                       381
1                        321
27                       251
15                       141
20                       103
2                         71
19                        60
29                        14
43                         4

In [67]:
## Notar que de un total de 40949 videos evaluados estos son los porcentajes respecto a las categorias:
x = 0 
category_id_list = []
category_name_list = []
for x in range(32):
    category_id = categories_data["items"][x]["id"]
    category_name = categories_data["items"][x]["snippet"]["title"] 
    x = x+1
    category_id_list.append(category_id)
    category_name_list.append(category_name)
    
#print(category_id_list)
#print(category_name_list)    
#categories_dictionary = zip(category_id_list,category_name_list)
#print(categories_dictionary)

categories_df = pd.DataFrame({ "Category":category_id_list,
                               "category_name":category_name_list})

categories_df['Category']=categories_df['Category'].astype(int)
categories_df.head(50)
category_percentage= (category_frequence_df["category_frequence"]/len(df["id"].value_counts()))*100
category_percentage

# notar que el 25% de videos trending durante Nov17 - Jun son de la Categoria 24 Entertainment. siendo el mas famoso "j4KvrAUjn6c"

Category
1      5.054322
2      1.117934
10    12.612187
15     2.220123
17     7.116989
19     0.944733
20     1.621792
22     7.841285
23     8.612817
24    25.539285
25     7.982995
26     9.368603
27     3.952134
28     5.999055
29     0.220438
43     0.062982
Name: category_frequence, dtype: float64

In [68]:
# Read the Json File with categories names and Id so we can show names in the plot

filepath = os.path.join("Resources/US_category_id.json")
with open(filepath) as jsonfile:
    categories_data = json.load(jsonfile)
    
# See the json 
categories_data

{'kind': 'youtube#videoCategoryListResponse',
 'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJvJAAShlR6hM"',
 'items': [{'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
   'id': '1',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Film & Animation',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"',
   'id': '2',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Autos & Vehicles',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxbknKFVe5Lmg"',
   'id': '10',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Music',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-oBJavSGkfDI"',
   'id': '15',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Pets & Animals',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM1XVQ9zbGec"',
   'id': '17',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Sports',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/FJwVpGCVZ1yiJrqZbpqe68Sy_OE"',
   'id': '18',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Short Movies',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/M-3iD9dwK7YJCafRf_DkLN8CouA"',
   'id': '19',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Travel & Events',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/WmA0qYEfjWsAoyJFSw2zinhn2wM"',
   'id': '20',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Gaming',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/EapFaGYG7K0StIXVf8aba249tdM"',
   'id': '21',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Videoblogging',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/xId8RX7vRN8rqkbYZbNIytUQDRo"',
   'id': '22',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'People & Blogs',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/G9LHzQmx44rX2S5yaga_Aqtwz8M"',
   'id': '23',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Comedy',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/UVB9oxX2Bvqa_w_y3vXSLVK5E_s"',
   'id': '24',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Entertainment',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/QiLK0ZIrFoORdk_g2l_XR_ECjDc"',
   'id': '25',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'News & Politics',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/r6Ck6Z0_L0rG37VJQR200SGNA_w"',
   'id': '26',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Howto & Style',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/EoYkczo9I3RCf96RveKTOgOPkUM"',
   'id': '27',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Education',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/w5HjcTD82G_XA3xBctS30zS-JpQ"',
   'id': '28',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Science & Technology',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/SalkJoBWq_smSEqiAx_qyri6Wa8"',
   'id': '29',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Nonprofits & Activism',
    'assignable': True}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/lL7uWDr_071CHxifjYG1tJrp4Uo"',
   'id': '30',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Movies',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/WnuVfjO-PyFLO7NTRQIbrGE62nk"',
   'id': '31',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Anime/Animation',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/ctpH2hGA_UZ3volJT_FTlOg9M00"',
   'id': '32',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Action/Adventure',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/L0kR3-g1BAo5UD1PLVbQ7LkkDtQ"',
   'id': '33',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Classics',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/pUZOAC_s9sfiwar639qr_wAB-aI"',
   'id': '34',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Comedy',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xb5JLhtyNRN3AQq021Ds-OV50Jk"',
   'id': '35',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Documentary',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/u8WXzF4HIhtEi805__sqjuA4lEk"',
   'id': '36',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Drama',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/D04PP4Gr7wc4IV_O9G66Z4A8KWQ"',
   'id': '37',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Family',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/i5-_AceGXQCEEMWU0V8CcQm_vLQ"',
   'id': '38',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Foreign',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/rtlxd0zOixA9QHdIZB26-St5qgQ"',
   'id': '39',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Horror',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/N1TrDFLRppxZgBowCJfJCvh0Dpg"',
   'id': '40',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Sci-Fi/Fantasy',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/7UMGi6zRySqXopr_rv4sZq6Za2E"',
   'id': '41',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Thriller',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/RScXhi324h8usyIetreAVb-uKeM"',
   'id': '42',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Shorts',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/0n9MJVCDLpA8q7aiGVrFsuFsd0A"',
   'id': '43',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Shows',
    'assignable': False}},
  {'kind': 'youtube#videoCategory',
   'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/x5NxSf5fz8hn4loSN4rvhwzD_pY"',
   'id': '44',
   'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Trailers',
    'assignable': False}}]}

In [69]:
# Add a new column to transform category id into names 

category_frequence_df = pd.merge(category_frequence_df,categories_df,how='left',left_on='Category',right_on='Category')
category_frequence_df.sort_values('category_frequence',ascending=False).head()

    Category  category_frequence    category_name
9         24                1622    Entertainment
2         10                 801            Music
11        26                 595    Howto & Style
8         23                 547           Comedy
10        25                 507  News & Politics

In [70]:
def video_category_name(dF): 
    for index,row in category_frequence_df.iterrows():
        x = row['Category']
        #x = category_frequence_df.loc[index,'category_id'] 
        if  x == categories_data["items"][0]["id"]: 
            try:
                category_frequence_df.loc[index,"category_name"] = categories_data["items"][0]["snippet"]["title"] 
            except:
                pass
video_category_name(category_frequence_df)
category_frequence_df.sort_values('category_frequence',ascending=False).head()

    Category  category_frequence    category_name
9         24                1622    Entertainment
2         10                 801            Music
11        26                 595    Howto & Style
8         23                 547           Comedy
10        25                 507  News & Politics

In [84]:
# Display a statistical overview
category_frequence_df.describe()

        Category  category_frequence
count  16.000000           16.000000
mean   20.687500          398.000000
std    10.409731          404.240687
min     1.000000            4.000000
25%    16.500000           95.000000
50%    22.500000          351.000000
75%    26.250000          517.000000
max    43.000000         1622.000000